.*.sw?
*.py[co]
*.egg-info
*~
.svn
.metadata
parser.out
node_modules
applications
.cache
.idea
/env/
/Agents/*/{build,dist}/
/Agents/*.egg
/.project
/.pydevproject
/twistd.pid
/.settings
/build
/configs/
/config/
/docs/build/*
/docs/source/apidocs
*.bak
volttron.log
/services/contrib/CLIAgent/
/services/contrib/CPRAgent/
/services/contrib/Debugger/
/services/contrib/ESSAgent/
/services/contrib/Flame/
/services/contrib/GSAgent/GlobalSchedulerAgent/agent.py
/services/contrib/GSAgent/GlobalSchedulerAgent/settings.py
/services/contrib/GSAgent/IDENTITY
/services/contrib/GSAgent/README
/services/contrib/GSAgent/config
/services/contrib/GSAgent/nohup.out
/services/contrib/GSAgent/recompile.sh
/services/contrib/GSAgent/setup.py
/services/contrib/PVControlAgent/
/services/contrib/SiteAnalysisAgent/
/services/contrib/isone-history/
/services/contrib/mbtiming/
/services/contrib/ForecastSim/
/consim_mb/
file1
/logs/
/pids/
/pmcsim_mb/
